.ActionButtons {
    width: 15%;
}
.ActionButton {
    background-color: grey;
    width: 80%;
    height: 25px;
    margin: 8% auto;
    color: white;
    font-family: Montserrat;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    border: none;
}
.ActionButton:hover {
    background-color: lightgrey;
}