.Dropdown {
    margin: 0 0px 20px 0px;
    float: right;
}
label {
    color: black;
    font-weight: 600;
    font-family: Montserrat;
}
select {
    display: block;
    margin-top: 1%;
    border: 1px solid lightgrey;
    border-radius: 2px;
}
/* @media(max-width: 700px) {
    .Dropdown {
        display: none;
    }
} */