.Image {
    margin: auto 0;
    width: 25%;
}
img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}
img:hover {
    cursor: pointer;
    opacity: .75;
}

@media(max-width: 1000px){
    .Image {
        width: 20%;
    }
}

@media(max-width: 700px){
    .Image {
        width: 30%;
    }
}