.SidebarBody {
    height: 90%;
    width: 100%;
}
.Link {
    color: white;
    text-decoration: none;
    display: block;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
}