.SidebarBody {
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    overflow: hidden;
}
.Link {
    color: black;
    text-decoration: none;
    display: block;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
}
.menuIcon {
    height: 25px;
}
@media(max-width: 1000px){
    .Link {
        font-size: 14px;
    }
}
@media(max-width: 850px){
    .Link {
        font-size: 12px;
    }
}
@media(max-width: 700px){
    .menuIcon {
        object-fit: cover;
    }
}